.bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  .bar {
    width: 20px;
    background-color: blue;
  }

  .bar-label {
    position: absolute;
    bottom: -24px;
    left: -6px;
  }
}
