.chart-control {
  display: flex;

  // &-group {

  // }
}

.field-label {
  display: block;
  font-size: 20px;
  padding: 0 12px 12px 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
